body{
	 background:url(images/bg2.jpg) repeat-x; 
	/* background-color:#87ceeb; */
	color:#555;
	line-height:24px;
	font-family:Arial;
	font-size:14px;
	text-align:center;
}
h1{
	font-size:60px;
	margin:30px 0 15px 0;
}
h2{
	font-size:22px;
	margin:30px 0 15px 0;
}
h3{
	font-size:22px;
	margin:25px 0 15px 0;
}
h4{
	font-size:18px;
	margin:20px 0 10px 0;
}
h5{
	font-size:16px;
	margin:20px 0 5px 0;
}
h6{
	font-size:14px;
	margin:0;
}
a:link {
	font-size:22px;
	
}

input {
	font-size:22px;
	
}

a:visited{
	font-size:22px;
	color:#F34607;
	text-decoration:none;
}
a:hover, a:active{
	font-size:22px;
	color:#111;
}
em{
	font-style:italic;
}

p{
	font-size:22px;
	margin:25px 0 15px 0;
}

label{
	font-size:22px;
	margin:25px 0 15px 0;
}