
<html>
<head>
	<title>Lab Assistant Login Page</title>
	<style type="text/css">
<%@include file = "css\csssheet.css"%>
</style>
</head>
<body>
<p align = "center"><img alt="FaceBuy" height="96" longdesc="FaceBuy" align="center" src="images/healtech.PNG" width="307" /></p>
<h1 align="center">
	LabAssistant Log In Page
</h1>
<form method = "POST" action="labAssistantLogin">
     <table align="center">
         <tr>
              <td>Username:</td>
              <td><input name="username" type="text"/><br></td>
              <!-- <td><errors path="username"></errors> -->
         </tr>
         <tr>
             <td>Password</td>
             <td><input name="password" type="password"/><br></td>
            <!--  <td><errors path="password"/></td> -->
         </tr>
         <tr>
             <td><input type = "submit" name="submit" value="Login"/><br/></td>
        
         	<!-- <td> <input type="checkbox" name="Remember" value="Remember" checked> Remember Me<br></td>
         	 -->
         </tr>
        <!--  <tr>
             <td><a href = "doctorRegistration">Register for a new account</a><br/></td>
         </tr> -->
    </table>
</form>
<p align="center"><a href = "labAssistantRegistration">Register for a new account</a></p><br/>

</body>
</html>

